<div class="row result-header">
  <div class="col-md-10 col-xs-12 col-ms-12">
    <ol class="breadcrumb">
      <li><a href="/">Inicio</a></li>
      <li class="active">Consulta de Publicaciones</li>
    </ol>
  </div>
  <div class="col-md-2 col-xs-12 col-ms-12 rss">
    <a href="/consultas/rss" class="pull-right"
      ><span class="btn btn-xs btn-warning"
        ><span class="fa fa-rss"></span></span
      >&nbsp;Descarga CSV</a
    >
  </div>
</div>
<div class="row title">
  <div class="col-md-9">
    <h2 class="search-title">Planes Anuales</h2>
  </div>
  <div class="col">
    <form class="form-horizontal" role="form" id="order-form">
      <div class="form-group">
        <label class="col-xs-1 search-order-label" for="orden"
          ><a id="order-asc" onclick="ACCE.changeOrderType('DESC')"
            ><span
              class="fa fa-sort-amount-asc pull-right"
              id="order-asc-icon"
            ></span
            ><span class="sr-only">Ordernar ascendente:</span></a
          ></label
        >
        <div class="col-xs-11" style="padding-left: 4px">
          <select class="form-control" name="orden" id="orden">
            <option value="">Ordenar...</option>
            <option value="ORD_ROF">Fecha período de convocatoria</option>
            <option value="ORD_PUB">Fecha publicaci&oacute;n</option>
            <option value="ORD_MOD">
              Fecha &uacute;ltima modificaci&oacute;n
            </option>
          </select>
        </div>
        <input type="hidden" name="tipo-orden" id="tipo-orden" value="" />
      </div>
      <button class="sr-only" type="submit">Ordenar</button>
    </form>
  </div>
</div>

<div id="container">
  ﻿
  <div class="row">
    <div class="col-md-12">
      Se encontraron&nbsp;<strong>898</strong>&nbsp;resultados.
      <hr />
    </div>
  </div>
  <div class="row item">
    <div class="col-md-12">
      <div class="row"><div class="col-md-12">﻿</div></div>
      <div class="row">
        <div class="col-md-5">
          <h3>
            <a [routerLink]="['/plan']">Compra Directa &nbsp;</a>
          </h3>
        </div>
        <div class="col-md-7 text-right ue-sniped">
          <span class="text-muted"
            >Administración de Servicios de Salud del Estado | Red de Atención
            Primaria de Rocha</span
          >
        </div>
      </div>
      <hr class="hr-sniped" />
      <div class="row desc-sniped">
        <div class="col-md-12">
          <p class="buy-object">
            Reparación de Secadora de Equipo de Sala de Rayos de Centro
              Auxiliar de Castillos. Cotizar según pliego adjunto.
          </p>
          <span class="date-list"
            ><span class="fa fa-history mirror-icon text-success"></span
            >&nbsp;Periodo de convocatoria:</span
          >&nbsp;<strong>24&sol;01&sol;2021 al 24&sol;04&sol;2021</strong>
        </div>
      </div>
      <div class="row v-middle desc-sniped">
        <div class="col-md-7 col-xs-12 col-ms-12">
          <span class="text-muted"
            >Publicado:&nbsp;22&sol;09&sol;2021 11:40hs</span
          >
        </div>
        <div class="col-md-2 col-xs-12 col-ms-12 text-right">
          <a href="/consultas/detalle/mostrar-llamado/1/id/i339800"
            >Ver detalles&nbsp;</a
          >
          <hr class="visible-xs-block visible-ms-block" />
        </div>
        <div class="col-md-3 col-xs-12 col-ms-12 text-right"></div>
      </div>
    </div>
  </div>
  <div class="row item">
    <div class="col-md-12">
      <div class="row"><div class="col-md-12"></div></div>
      <div class="row">
        <div class="col-md-5">
          <h3>
            <a href="/consultas/detalle/mostrar-llamado/1/id/i339799"
              >Compra Directa &nbsp;</a
            >
          </h3>
        </div>
        <div class="col-md-7 text-right ue-sniped">
          <span class="text-muted"
            >Administración de Servicios de Salud del Estado | Red de Atención
            Primaria de Rocha</span
          >
        </div>
      </div>
      <hr class="hr-sniped" />
      <div class="row desc-sniped">
        <div class="col-md-12">
          <p class="buy-object">
            ADQUISICION DE INSUMOS PARA LA UNIDAD AIC 1884
          </p>
          <span class="date-list"
            ><span class="fa fa-history mirror-icon text-success"></span
            >&nbsp;Período de convocatoria:</span
          >&nbsp;<strong>24&sol;09&sol;2021 al 24&sol;12&sol;2021</strong>
        </div>
      </div>
      <div class="row v-middle desc-sniped">
        <div class="col-md-7 col-xs-12 col-ms-12">
          <span class="text-muted"
            >Publicado:&nbsp;22&sol;09&sol;2021 11:17hs</span
          >
        </div>
        <div class="col-md-2 col-xs-12 col-ms-12 text-right">
          <a href="/consultas/detalle/mostrar-llamado/1/id/i339799"
            >Ver detalles&nbsp;</a
          >
          <hr class="visible-xs-block visible-ms-block" />
        </div>
        <div class="col-md-3 col-xs-12 col-ms-12 text-right"></div>
      </div>
    </div>
  </div>
  <div class="row item">
    <div class="col-md-12">
      <div class="row"><div class="col-md-12"></div></div>
      <div class="row">
        <div class="col-md-5">
          <h3>
            <a href="/consultas/detalle/mostrar-llamado/1/id/i339689"
              >Compra Directa &nbsp;</a
            >
          </h3>
        </div>
        <div class="col-md-7 text-right ue-sniped">
          <span class="text-muted"
            >Intendencia de Montevideo | Intendencia de Montevideo</span
          >
        </div>
      </div>
      <hr class="hr-sniped" />
      <div class="row desc-sniped">
        <div class="col-md-12">
          <p class="buy-object">TONER</p>
          <span class="date-list"
            ><span class="fa fa-history mirror-icon text-success"></span
            >&nbsp;Periodo de convocatoria:</span
          >&nbsp;<strong>24&sol;06&sol;2021 al 24&sol;09&sol;2021</strong>
        </div>
      </div>
      <div class="row v-middle desc-sniped">
        <div class="col-md-7 col-xs-12 col-ms-12">
          <span class="text-muted"
            >Publicado:&nbsp;21&sol;09&sol;2021 22:32hs</span
          >
        </div>
        <div class="col-md-2 col-xs-12 col-ms-12 text-right">
          <a href="/consultas/detalle/mostrar-llamado/1/id/i339689"
            >Ver detalles&nbsp;</a
          >
          <hr class="visible-xs-block visible-ms-block" />
        </div>
        <div class="col-md-3 col-xs-12 col-ms-12 text-right"></div>
      </div>
    </div>
  </div>
  <div class="row item">
    <div class="col-md-12">
      <div class="row"><div class="col-md-12"></div></div>
      <div class="row">
        <div class="col-md-5">
          <h3>
            <a href="/consultas/detalle/mostrar-llamado/1/id/i339688"
              >Compra Directa &nbsp;</a
            >
          </h3>
        </div>
        <div class="col-md-7 text-right ue-sniped">
          <span class="text-muted"
            >Intendencia de Colonia | Intendencia de Colonia</span
          >
        </div>
      </div>
      <hr class="hr-sniped" />
      <div class="row desc-sniped">
        <div class="col-md-12">
          <p class="buy-object">
            REPARACIÓN DE INTERCOOLER PARA EQUIPO DE TRANSPORTE
          </p>
          <span class="date-list"
            ><span class="fa fa-history mirror-icon text-success"></span
            >&nbsp;Periodo de convocatoria:</span
          >&nbsp;<strong>24&sol;04&sol;2021 al 24&sol;09&sol;2021</strong>
        </div>
      </div>
      <div class="row v-middle desc-sniped">
        <div class="col-md-7 col-xs-12 col-ms-12">
          <span class="text-muted"
            >Publicado:&nbsp;21&sol;09&sol;2021 22:32hs</span
          >
        </div>
        <div class="col-md-2 col-xs-12 col-ms-12 text-right">
          <a href="/consultas/detalle/mostrar-llamado/1/id/i339688"
            >Ver detalles&nbsp;</a
          >
          <hr class="visible-xs-block visible-ms-block" />
        </div>
        <div class="col-md-3 col-xs-12 col-ms-12 text-right"></div>
      </div>
    </div>
  </div>
  <div class="row item">
    <div class="col-md-12">
      <div class="row"><div class="col-md-12"></div></div>
      <div class="row">
        <div class="col-md-5">
          <h3>
            <a href="/consultas/detalle/mostrar-llamado/1/id/i339683"
              >Compra Directa &nbsp;</a
            >
          </h3>
        </div>
        <div class="col-md-7 text-right ue-sniped">
          <span class="text-muted"
            >Intendencia de Montevideo | Intendencia de Montevideo</span
          >
        </div>
      </div>
      <hr class="hr-sniped" />
      <div class="row desc-sniped">
        <div class="col-md-12">
          <p class="buy-object">REPARACION DE DESMALEZADORA</p>
          <span class="date-list"
            ><span class="fa fa-history mirror-icon text-success"></span
            >&nbsp;Periodo de convocatoria:</span
          >&nbsp;<strong>24&sol;02&sol;2021 al 24&sol;07&sol;2021</strong>
        </div>
      </div>
      <div class="row v-middle desc-sniped">
        <div class="col-md-7 col-xs-12 col-ms-12">
          <span class="text-muted"
            >Publicado:&nbsp;21&sol;09&sol;2021 22:32hs</span
          >
        </div>
        <div class="col-md-2 col-xs-12 col-ms-12 text-right">
          <a href="/consultas/detalle/mostrar-llamado/1/id/i339683"
            >Ver detalles&nbsp;</a
          >
          <hr class="visible-xs-block visible-ms-block" />
        </div>
        <div class="col-md-3 col-xs-12 col-ms-12 text-right"></div>
      </div>
    </div>
  </div>
  <div class="row item">
    <div class="col-md-12">
      <div class="row"><div class="col-md-12"></div></div>
      <div class="row">
        <div class="col-md-5">
          <h3>
            <a href="/consultas/detalle/mostrar-llamado/1/id/i339682"
              >Compra Directa &nbsp;</a
            >
          </h3>
        </div>
        <div class="col-md-7 text-right ue-sniped">
          <span class="text-muted"
            >Intendencia de Salto | Intendencia de Salto</span
          >
        </div>
      </div>
      <hr class="hr-sniped" />
      <div class="row desc-sniped">
        <div class="col-md-12">
          <p class="buy-object">CURSOS DE CAPACITACION</p>
          <span class="date-list"
            ><span class="fa fa-history mirror-icon text-success"></span
            >&nbsp;Periodo de convocatoria:</span
          >&nbsp;<strong>24&sol;01&sol;2021 al 24&sol;04&sol;2021</strong>
        </div>
      </div>
      <div class="row v-middle desc-sniped">
        <div class="col-md-7 col-xs-12 col-ms-12">
          <span class="text-muted"
            >Publicado:&nbsp;21&sol;09&sol;2021 22:32hs</span
          >
        </div>
        <div class="col-md-2 col-xs-12 col-ms-12 text-right">
          <a href="/consultas/detalle/mostrar-llamado/1/id/i339682"
            >Ver detalles&nbsp;</a
          >
          <hr class="visible-xs-block visible-ms-block" />
        </div>
        <div class="col-md-3 col-xs-12 col-ms-12 text-right"></div>
      </div>
    </div>
  </div>
  <div class="row item">
    <div class="col-md-12">
      <div class="row"><div class="col-md-12"></div></div>
      <div class="row">
        <div class="col-md-5">
          <h3>
            <a href="/consultas/detalle/mostrar-llamado/1/id/i339681"
              >Compra Directa &nbsp;</a
            >
          </h3>
        </div>
        <div class="col-md-7 text-right ue-sniped">
          <span class="text-muted"
            >Intendencia de Treinta y Tres | Intendencia de Treinta y Tres</span
          >
        </div>
      </div>
      <hr class="hr-sniped" />
      <div class="row desc-sniped">
        <div class="col-md-12">
          <p class="buy-object">MANTENIMIENTO DE BALANZA ANALITICA</p>
          <span class="date-list"
            ><span class="fa fa-history mirror-icon text-success"></span
            >&nbsp;Periodo de convocatoria:</span
          >&nbsp;<strong>24&sol;01&sol;2021 al 24&sol;05&sol;2021</strong>
        </div>
      </div>
      <div class="row v-middle desc-sniped">
        <div class="col-md-7 col-xs-12 col-ms-12">
          <span class="text-muted"
            >Publicado:&nbsp;21&sol;09&sol;2021 22:32hs</span
          >
        </div>
        <div class="col-md-2 col-xs-12 col-ms-12 text-right">
          <a href="/consultas/detalle/mostrar-llamado/1/id/i339681"
            >Ver detalles&nbsp;</a
          >
          <hr class="visible-xs-block visible-ms-block" />
        </div>
        <div class="col-md-3 col-xs-12 col-ms-12 text-right"></div>
      </div>
    </div>
  </div>
  <div class="row item">
    <div class="col-md-12">
      <div class="row"><div class="col-md-12"></div></div>
      <div class="row">
        <div class="col-md-5">
          <h3>
            <a href="/consultas/detalle/mostrar-llamado/1/id/i339680"
              >Compra Directa &nbsp;</a
            >
          </h3>
        </div>
        <div class="col-md-7 text-right ue-sniped">
          <span class="text-muted"
            >Intendencia de Montevideo | Intendencia de Montevideo</span
          >
        </div>
      </div>
      <hr class="hr-sniped" />
      <div class="row desc-sniped">
        <div class="col-md-12">
          <p class="buy-object">REACTIVO MICROBIOLOGICO VIBRIO FISCHERI</p>
          <span class="date-list"
            ><span class="fa fa-history mirror-icon text-success"></span
            >&nbsp;Periodo de convocatoria:</span
          >&nbsp;<strong>24&sol;09&sol;2021 al 24&sol;11&sol;2021</strong>
        </div>
      </div>
      <div class="row v-middle desc-sniped">
        <div class="col-md-7 col-xs-12 col-ms-12">
          <span class="text-muted"
            >Publicado:&nbsp;21&sol;09&sol;2021 22:32hs</span
          >
        </div>
        <div class="col-md-2 col-xs-12 col-ms-12 text-right">
          <a href="/consultas/detalle/mostrar-llamado/1/id/i339680"
            >Ver detalles&nbsp;</a
          >
          <hr class="visible-xs-block visible-ms-block" />
        </div>
        <div class="col-md-3 col-xs-12 col-ms-12 text-right"></div>
      </div>
    </div>
  </div>
  <div class="row item">
    <div class="col-md-12">
      <div class="row"><div class="col-md-12"></div></div>
      <div class="row">
        <div class="col-md-5">
          <h3>
            <a href="/consultas/detalle/mostrar-llamado/1/id/i339679"
              >Compra Directa &nbsp;</a
            >
          </h3>
        </div>
        <div class="col-md-7 text-right ue-sniped">
          <span class="text-muted"
            >Intendencia de Montevideo | Intendencia de Montevideo</span
          >
        </div>
      </div>
      <hr class="hr-sniped" />
      <div class="row desc-sniped">
        <div class="col-md-12">
          <p class="buy-object">GUANTE</p>
          <span class="date-list"
            ><span class="fa fa-history mirror-icon text-success"></span
            >&nbsp;Periodo de convocatoria:</span
          >&nbsp;<strong>24&sol;03&sol;2021 al 24&sol;08&sol;2021</strong>
        </div>
      </div>
      <div class="row v-middle desc-sniped">
        <div class="col-md-7 col-xs-12 col-ms-12">
          <span class="text-muted"
            >Publicado:&nbsp;21&sol;09&sol;2021 22:32hs</span
          >
        </div>
        <div class="col-md-2 col-xs-12 col-ms-12 text-right">
          <a href="/consultas/detalle/mostrar-llamado/1/id/i339679"
            >Ver detalles&nbsp;</a
          >
          <hr class="visible-xs-block visible-ms-block" />
        </div>
        <div class="col-md-3 col-xs-12 col-ms-12 text-right"></div>
      </div>
    </div>
  </div>
  <div class="row item">
    <div class="col-md-12">
      <div class="row"><div class="col-md-12"></div></div>
      <div class="row">
        <div class="col-md-5">
          <h3>
            <a href="/consultas/detalle/mostrar-llamado/1/id/i339678"
              >Compra Directa &nbsp;</a
            >
          </h3>
        </div>
        <div class="col-md-7 text-right ue-sniped">
          <span class="text-muted"
            >Intendencia de Montevideo | Intendencia de Montevideo</span
          >
        </div>
      </div>
      <hr class="hr-sniped" />
      <div class="row desc-sniped">
        <div class="col-md-12">
          <p class="buy-object">LAPIZ MECANICO, GUANTE DE LATEX</p>
          <span class="date-list"
            ><span class="fa fa-history mirror-icon text-success"></span
            >&nbsp;Período de convocatoria:</span
          >&nbsp;<strong>24&sol;02&sol;2021 al 24&sol;07&sol;2021</strong>
        </div>
      </div>
      <div class="row v-middle desc-sniped">
        <div class="col-md-7 col-xs-12 col-ms-12">
          <span class="text-muted"
            >Publicado:&nbsp;21&sol;09&sol;2021 22:32hs</span
          >
        </div>
        <div class="col-md-2 col-xs-12 col-ms-12 text-right">
          <a href="/consultas/detalle/mostrar-llamado/1/id/i339678"
            >Ver detalles&nbsp;</a
          >
          <hr class="visible-xs-block visible-ms-block" />
        </div>
        <div class="col-md-3 col-xs-12 col-ms-12 text-right"></div>
      </div>
    </div>
  </div>
  <div id="pagination">
    <!-- Previous page link --><!-- Numbered page links -->1 |<a
      class="next"
      href="/consultas/index/page/2"
      >2</a
    >|<a href="/consultas/index/page/3">3</a>|<a href="/consultas/index/page/4"
      >4</a
    >|<a href="/consultas/index/page/5">5</a>|<a href="/consultas/index/page/6"
      >6</a
    >|<a href="/consultas/index/page/7">7</a>|<a href="/consultas/index/page/8"
      >8</a
    >|<a href="/consultas/index/page/9">9</a>|<a href="/consultas/index/page/10"
      >10</a
    >|<!-- Next page link --><a href="/consultas/index/page/2"
      >Siguiente &gt;</a
    >
  </div>
<!--/div>
</div-->
