<div class="container-fluid" id="content">
  <div class="row content">&#xFEFF;
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h2>
          Compra Directa &nbsp;<span class="small"
            >Administración de Servicios de Salud del Estado | Red de Atención
            Primaria de Rocha</span>
        </h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        ﻿
        <div class="well">
          ﻿
          <hr />
          <div class="h4">
            Fecha Publicación:&nbsp;<strong>05/10/2021 11:20hs</strong>
          </div>
          <ul class="list-inline buy-detail-list">
            <li class="col-md-6 col-xs-6">Archivo adjunto</li>
            <li class="col-md-6 col-xs-6">
              <a href="/Pliegos/pedido_900523.docx"
                ><span class="fa fa-download text-success"></span
                ><span class="sr-only">archivo adjunto/pliego</span></a
              ><span class="small">&nbsp;(.docx 38 Kb)</span>
            </li>
          </ul>
          <div class="clearfix"></div>
          <ul class="list-inline buy-detail-list">
            <li class="col-md-6 col-xs-6">Lugar de entrega de ofertas:</li>
            <li class="col-md-6 col-xs-6"><strong>RAP ROCHA</strong></li>
          </ul>
          <div class="clearfix"></div>
          <hr />
          <div class="h4"><strong>Información de contacto:</strong></div>
          <address>
            <strong>Daniela Jaqueline Techera Techera</strong><br /><span
              class="fa fa-envelope-o text-success"
            ></span
            >&nbsp;<a href="mailto:compras.raprocha@asse.com.uy"
              >compras.raprocha@asse.com.uy</a
            ><br /><span class="fa fa-phone text-success"></span>&nbsp;092355345
          </address>
        </div>
      </div>
      <div class="col-md-8 items-list">
        <div class="row">
          <div class="col-md-8">
            <p class="buy-object">
              Reparación de Secadora de Equipo de Sala de Rayos de Centro
              Auxiliar de Castillos. Cotizar según pliego adjunto.
            </p>
            <span class="fa fa-history mirror-icon text-success"></span
            >&nbsp;Periodo de convocatoria:&nbsp;<strong
              >01/03/2022 - 01/11/2022</strong
            >
          </div>
          <div class="col-md-4 text-right"></div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6"><h3>Ítems del llamado</h3></div>
          <div class="col-md-6">
            <div
              class="btn-group pull-right"
              aria-label="Acciones"
              role="group"
            >
              <a href="/sice/login/900523" class="btn btn-primary"
                ><span class="fa fa-check-square-o"></span>&nbsp;Ofertar en
                línea&nbsp;<span class="sr-only"
                  >en la compra Compra Directa 143/2021 | Administración de
                  Servicios de Salud del Estado | Red de Atención Primaria de
                  Rocha</span
                ></a
              >
            </div>
          </div>
        </div>
        <div class="row item paginator-items">
          ﻿
          <div class="row">
            <div class="col-md-12">
              <div class="desc-item">
                <h3>
                  <span class="buy-item-title-small">Ítem Nº&nbsp;1</span>&nbsp;
                  REPARACION DE REVELADORA AUTOMATICA&nbsp;<span class="cod-art"
                    >(Cód. Artículo 36519)</span
                  >
                </h3>
                <ul class="list-inline" style="margin-top: 6px">
                  <li>Cantidad:</li>
                  <li><strong>1,00 UNIDAD</strong></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div
          class="row item"
          id="ias_noneleft_1633615500733"
          style="display: block"
        >
          <div class="col-md-12 text-center">
            <div class="alert alert-info" role="alert">
              <strong>No existen más resultados.</strong>
            </div>
          </div>
        </div>
        <div id="pagination" style="display: none">
         
        </div>
        <div class="row">
          <div class="col-md-12"><hr /></div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-7">
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"><hr /></div>
        </div>
      </div>
    </div>
  </div>
</div>
