<footer class="Footer">
    <div class="Container">
      <div class="Footer-body">
        <div class="Grid">
          <div class="Grid-item u-md-size1of3">
            <div class="Footer-info u-md-pr3">
              <div class="Footer-title">
                Agencia Reguladora de Compras Estatales
              </div>
              <div>
                <div
                  class="views-element-container"
                  id="block-views-block-informacion-institucional-footer"
                >
                  <div data-region="footer_left">
                    <div
                      class="
                        js-view-dom-id-3e879b08750a21c52030abe3fce6e11bb9ce1a7cbf021eae476425e0de611f18
                      "
                    >
                      <div class="views-row">
                        <address>
                          <p><span>Dirección:</span>Andes 1365, Piso 8</p>
                          <p>
                            <span>Teléfonos:</span
                            ><a href="tel:(+598) 29031111">(+598) 29031111</a>
                          </p>
                          <p>
                            <a
                              href="https://www.gub.uy/agencia-reguladora-compras-estatales/institucional/contacto"
                              >Contacto</a
                            >
                          </p>
                          <p><span>Horario de atención:</span>9:00 a 17:00</p>
                        </address>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="Grid-item u-md-size2of3">
            <div class="Grid">
              <div class="Grid-item u-md-size1of3">
                <nav
                  aria-label="Footer Menu"
                  id="block-enlacesa"
                  class="Footer-list u-md-pl3"
                >
                  <h3 id="block-enlacesa-menu">Institucional</h3>
                  <ul data-region="footer_right" class="u-bullet" data-algo>
                    <li>
                      <a
                        href="https://www.gub.uy/agencia-reguladora-compras-estatales/institucional/creacion-y-evolucion-historica"
                        >Creación y evolución histórica</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://www.gub.uy/agencia-reguladora-compras-estatales/institucional/cometidos"
                        >Cometidos</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://www.gub.uy/agencia-reguladora-compras-estatales/institucional/plan-estrategico"
                        >Plan estratégico</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://www.gub.uy/agencia-reguladora-compras-estatales/institucional/estructura-del-organismo"
                        >Estructura del organismo</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://www.gub.uy/agencia-reguladora-compras-estatales/institucional/normativa"
                        >Normativa</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://www.gub.uy/agencia-reguladora-compras-estatales/transparencia"
                        >Transparencia</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://www.gub.uy/agencia-reguladora-compras-estatales/preguntas-frecuentes"
                        >Preguntas frecuentes</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://www.gub.uy/agencia-reguladora-compras-estatales/institucional/contacto"
                        >Contacto</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="Grid-item u-md-size1of3">
                <nav
                  aria-label="Footer Menu"
                  id="block-enlacesb"
                  class="Footer-list u-md-pl3"
                >
                  <h3 id="block-enlacesb-menu">Políticas y Gestión</h3>
                  <ul data-region="footer_right" class="u-bullet" data-algo>
                    <li>
                      <a
                        href="https://www.gub.uy/agencia-reguladora-compras-estatales/politicas-y-gestion/planes/contrataciones-del-estado"
                        >Contrataciones del Estado</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://www.gub.uy/agencia-reguladora-compras-estatales/politicas-y-gestion/planes/registro-unico-proveedores-del-estado"
                        >Registro Único de Proveedores del Estado</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://www.gub.uy/agencia-reguladora-compras-estatales/politicas-y-gestion/planes/regimenes-preferencia"
                        >Regímenes de preferencia</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://www.gub.uy/agencia-reguladora-compras-estatales/politicas-y-gestion/proyectos-innovacion"
                        >Proyectos e innovación</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://www.gub.uy/agencia-reguladora-compras-estatales/politicas-y-gestion/gestion-del-conocimiento-0"
                        >Gestión del conocimiento</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="Footer-logos">
              <div class="Footer-logo">
                <a href="/"
                  ><span class="Brand Brand--white Brand--lg"
                    ><span class="Brand-text">gub.uy</span></span
                  ></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Footer-bottom">
        <div class="Footer-social">
          <ul>
            <li>
              <a
                href="https://www.twitter.com/comprasgubuy"
                aria-label="Twitter"
                ><span class="Icon Icon--twitter"></span
                ><span class="u-hideVisually">Twitter</span></a
              >
            </li>
            <li>
              <a
                href="https://www.youtube.com/user/accegubuy"
                aria-label="Youtube"
                ><span class="Icon Icon--youtube"></span
              ></a>
            </li>
          </ul>
        </div>
        <div>
          <div class="Footer-links">
            <nav aria-label="Footer Menu" id="block-footermenu">
              <ul data-region="footer_bottom_right">
                <li>
                  <a
                    href="/agencia-reguladora-compras-estatales/"
                    data-drupal-link-system-path="&lt;front&gt;"
                    class="is-active"
                    >Sitio oficial de la República Oriental del Uruguay</a
                  >
                </li>
                <li>
                  <a
                    href="/agencia-reguladora-compras-estatales/mapa-sitio"
                    data-drupal-link-system-path="mapa-sitio"
                    >Mapa del sitio</a
                  >
                </li>
                <li>
                  <a
                    href="/agencia-reguladora-compras-estatales/declaracion-de-accesibilidad"
                    data-drupal-link-system-path="node/3"
                    >Declaración de accesibilidad</a
                  >
                </li>
                <li>
                  <a
                    href="/agencia-reguladora-compras-estatales/terminos-y-condiciones-de-uso"
                    data-drupal-link-system-path="node/5"
                    >Términos de uso</a
                  >
                </li>
                <li>
                  <a
                    href="/agencia-reguladora-compras-estatales/politica-de-privacidad"
                    data-drupal-link-system-path="node/4"
                    >Política de Privacidad</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </footer>