<body class="body pace-done">
  <div class="pace pace-inactive">
    <div
      class="pace-progress"
      data-progress-text="100%"
      data-progress="99"
      style="transform: translate3d(100%, 0px, 0px)"
    >
      <div class="pace-progress-inner"></div>
    </div>
  </div>

  <app-header></app-header>

  <div class="container-fluid" id="content">
    <div class="row content">
      <!--app-sidebar></app-sidebar-->

      
        <!--app-lista-planes></app-lista-planes-->
        <router-outlet></router-outlet>
    </div>
  </div>
  

  <app-footer></app-footer>
</body>
