<div class="container-fluid main">
  <div class="Header-top">
    <div class="Container">
      <div class="Header-site">
        <div class="u-relative u-inlineBlock">
          <a class="Header-mainLink" href="https://www.gub.uy">
            <span class="Brand Brand--sm">
              <span class="Brand-text">gub.uy </span>
            </span>
          </a>
        </div>
        <button class="Header-explore js-parentMenuTrigger">
          <span class="u-hideVisually"
            >Sitio oficial de la República Oriental del Uruguay
          </span>
          <span class="Header-arrow"> </span>
        </button>
        <div class="Header-parent">
          <a href="https://www.presidencia.gub.uy/"
            >Presidencia de la República</a
          >
        </div>
      </div>
      <div class="Header-login">
        <div>
          <a href="https://www.gub.uy/perfil">
            <span class="u-md-hide">Perfil gub.uy</span>
            <span class="u-hide u-md-show">Ingresar a Perfil gub.uy</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="Header-body">
  <div class="Container">
    <h1 class="Header-logo u-md-size1of2 u-size3of4">
      <a
        href="https://www.gub.uy/agencia-reguladora-compras-estatales/"
        title="Inicio"
        rel="inicio"
      >
        <div class="Logo">
          <img
            class="Logo-image"
            src="https://www.gub.uy/agencia-reguladora-compras-estatales/agencia-reguladora-compras-estatales/sites/agencia-reguladora-compras-estatales/files/catalogo/ESCUDO%252098_11.png"
            alt=""
          />
          <span class="Logo-text">
            <span class="Logo-title">
              <span class="Logo-role">Agencia Reguladora</span>
              <span>de Compras Estatales</span>
            </span>
          </span>
        </div>
      </a>
    </h1>
    <div
      class="Header-search MiniHeader-search contextual-region"
      data-drupal-selector="views-exposed-form-buscar-page"
      id="block-formularioexpuestobuscarpage"
    >
      <div class="Search u-hide u-md-show">
        <form
          region="header_body"
          action="https://www.gub.uy/agencia-reguladora-compras-estatales/buscar"
          method="get"
          id="views-exposed-form-buscar-page"
          accept-charset="UTF-8"
        >
          <div
            class="
              js-form-item
              form-item
              js-form-type-textfield
              form-item-search-api-fulltext
              js-form-item-search-api-fulltext
              form-no-label
            "
          >
            <label for="edit-search-api-fulltext" class="u-hideVisually"
              >Buscar</label
            >
            <input
              type="search"
              data-drupal-selector="edit-search-api-fulltext"
              id="edit-search-api-fulltext"
              name="search_api_fulltext"
              value=""
              size="30"
              maxlength="128"
              class="form-text Search-input"
              placeholder="Buscar en ARCE"
              required=""
              title="Buscar"
            />
            <label for="Search-checkbox" class="Search-checkboxLabel"
              ><input
                type="checkbox"
                name="search-in-site"
                id="Search-checkbox"
                value="ARCE"
                checked=""
              />ARCE</label
            >
          </div>
          <div
            data-drupal-selector="edit-actions"
            class="form-actions js-form-wrapper form-wrapper"
            id="edit-actions"
          >
            <button class="Search-button">Buscar</button>
          </div>
        </form>
      </div>
    </div>
    <button class="Header-menuTrigger js-menuTrigger u-md-hide">
      <svg
        fill="#000000"
        height="24"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg
      ><span>Menú</span>
    </button>
  </div>
</div>

<nav class="Nav js-mainNav" id="menu" tabindex="-1" onkeydown="">
  <div class="Container">
    <ul
      data-region="primary_menu"
      class="Nav-list nav-target-collapse"
      aria-expanded="false"
    >
      <li class="Nav-item">
        <a href="#" id="item-1">Institucional</a>
        <div class="Nav-subnav">
          <ul data-region="primary_menu" class="" aria-expanded="false">
            <li class="">
              <a
                href="https://www.gub.uy/arce/institucional/creacion-y-evolucion-historica"
                data-drupal-link-system-path="institucional/creacion-evolucion-historica"
                >Creación y Evolución histórica</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/institucional/cometidos"
                data-drupal-link-system-path="institucional/cometidos"
                >Cometidos</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/institucional/plan-estrategico"
                data-drupal-link-system-path="institucional/plan-estrategico"
                >Plan estratégico</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/institucional/estructura-del-organismo"
                data-drupal-link-system-path="institucional/estructura-del-organismo"
                >Estructura del organismo</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/institucional/consejo-asesor-proveedores"
                data-drupal-link-system-path="node/259"
                >Consejo Asesor de Proveedores</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/institucional/informacion-gestion"
                data-drupal-link-system-path="institucional/informacion-gestion"
                >Información de gestión</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/etiqueta/consejo-asesor-de-proveedores/concursos"
                data-drupal-link-system-path="node/742"
                >Concursos</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/institucional/normativa"
                data-drupal-link-system-path="institucional/normativa"
                >Normativa</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/institucional/transparencia"
                data-drupal-link-system-path="node/1672"
                >Transparencia</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/preguntas-frecuentes"
                data-drupal-link-system-path="node/209"
                >Preguntas frecuentes</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/institucional/contacto"
                data-drupal-link-system-path="institucional/contacto"
                >Contacto</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="Nav-item">
        <a href="#" id="item-2">Políticas y Gestión</a>
        <div class="Nav-subnav">
          <ul data-region="primary_menu" class="" aria-expanded="false">
            <li class="">
              <a
                href="https://www.gub.uy/arce/politicas-y-gestion/planes/contrataciones-del-estado"
                title="Contrataciones de Estado"
                data-drupal-link-system-path="node/365"
                >Contrataciones del Estado</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/politicas-y-gestion/sistema-informacion-compras-contrataciones-estatales"
                title="Sistema Información de Compras y Contrataciones Estatales (SICE)"
                data-drupal-link-system-path="node/452"
                >Sistema Información de Compras y Contrataciones Estatales
                (SICE)</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/politicas-y-gestion/planes/registro-unico-proveedores-del-estado"
                title="Registro Único de Proveedores del Estado"
                data-drupal-link-system-path="node/117"
                >Registro Único de Proveedores del Estado</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/politicas-y-gestion/planes/regimenes-preferencia"
                title="Regímenes de preferencia "
                data-drupal-link-system-path="node/207"
                >Regímenes de preferencia</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/politicas-y-gestion/proyectos-innovacion"
                title="Proyectos e innovación"
                data-drupal-link-system-path="node/453"
                >Proyectos e innovación</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/politicas-y-gestion/gestion-del-conocimiento-0"
                data-drupal-link-system-path="node/1229"
                >Gestión del Conocimiento</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="Nav-item">
        <a href="#" id="item-3">Trámites y Servicios</a>
        <div class="Nav-subnav">
          <ul data-region="primary_menu" class="" aria-expanded="false">
            <li class="">
              <a
                href="https://www.gub.uy/arce/tramites-y-servicios/tramites"
                data-drupal-link-system-path="tramites-y-servicios/tramites"
                >Trámites</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="Nav-item">
        <a href="#" id="item-4">Datos y Estadísticas</a>
        <div class="Nav-subnav">
          <ul data-region="primary_menu" class="" aria-expanded="false">
            <li class="">
              <a
                href="https://www.gub.uy/arce/datos-y-estadisticas/datos"
                data-drupal-link-system-path="datos-y-estadisticas/datos"
                >Datos</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/datos-y-estadisticas/datos-abiertos"
                data-drupal-link-system-path="datos-y-estadisticas/datos-abiertos"
                >Datos Abiertos</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="Nav-item">
        <a href="#" id="item-5">Comunicación</a>
        <div class="Nav-subnav">
          <ul data-region="primary_menu" class="" aria-expanded="false">
            <li class="">
              <a
                href="https://www.gub.uy/arce/comunicacion/noticias"
                data-drupal-link-system-path="comunicacion/noticias"
                >Noticias</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/comunicacion/calendario-actividades"
                data-drupal-link-system-path="comunicacion/calendario-actividades"
                >Calendario de actividades</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/comunicacion/publicaciones"
                data-drupal-link-system-path="comunicacion/publicaciones"
                >Publicaciones</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/comunicacion/comunicados"
                data-drupal-link-system-path="comunicacion/comunicados"
                >Comunicados</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/comunicacion/boletin"
                data-drupal-link-system-path="comunicacion/boletin"
                >Boletines</a
              >
            </li>
            <li class="">
              <a
                href="https://www.gub.uy/arce/comunicacion/campanas"
                data-drupal-link-system-path="comunicacion/campanas"
                >Campañas</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="ParentNav js-parentNav">
  <div class="ParentNav-wrap">
    <div class="ParentNav-header">
      <div class="ParentNav-logo u-mb3">
        <div class="u-inlineBlock u-relative u-mb2">
          <a href="/"
            ><span class="Brand Brand--md Brand--white"
              ><span class="Brand-text">gub.uy</span></span
            ></a
          >
        </div>
      </div>
      <div class="ParentNav-close">
        <button class="js-menuClose">
          <svg
            fill="#ffffff"
            width="32"
            height="32"
            viewbox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
            ></path>
            <path d="M0 0h24v24H0z" fill="none"></path></svg
          ><span class="u-hideVisually">Cerrar menú</span>
        </button>
      </div>
      <div class="ParentNav-search Search Search--borderless">
        <form action="https://www.gub.uy/buscar?" class="buscador">
          <input
            type="search"
            class="Search-input"
            name="search_api_fulltext"
            placeholder="Buscar en gub.uy"
          /><button class="Search-button">Buscar</button>
        </form>
      </div>
    </div>
    <div class="ParentNav-body">
      <div class="ParentNav-item has-submenu" tabindex="0">
        <span>Organismos</span>
        <div class="ParentNav-subNav">
          <div class="Stats Stats--menu">
            <div class="Grid">
              <div class="Grid-item u-md-size1of2">
                <div class="Stats-item">
                  <div>Presidencia</div>
                  <a href="https://www.gub.uy/organismos/term/1"
                    ><span>15</span></a
                  >
                </div>
              </div>
              <div class="Grid-item u-md-size1of2">
                <div class="Stats-item">
                  <div>Ministerios</div>
                  <a href="https://www.gub.uy/organismos/term/2"
                    ><span>14</span></a
                  >
                </div>
              </div>
              <div class="Grid-item u-md-size1of2">
                <div class="Stats-item">
                  <div>Gobiernos Departamentales</div>
                  <a href="https://www.gub.uy/organismos/term/6"
                    ><span>20</span></a
                  >
                </div>
              </div>
              <div class="Grid-item u-md-size1of2">
                <div class="Stats-item">
                  <div>Otros organismos</div>
                  <a href="https://www.gub.uy/organismos/term/4"
                    ><span>34</span></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ParentNav-item has-submenu" tabindex="0">
        <span>Trámites y servicios</span>
        <div class="ParentNav-subNav Nav-subNav--tramites">
          <div class="Grid">
            <div class="Grid-item">
              <div class="u-h4 u-mb2 u-mt2">Trámites destacados</div>
              <ul class="u-bullet">
                <li>
                  <a
                    href="https://www.gub.uy/agencia-gobierno-electronico-sociedad-informacion-conocimiento/comunicacion/noticias/nueva-plataforma-firma-digital"
                    >Servicio de firma y validaci&oacute;n</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.gub.uy/tramites/creacion-usuario-gubuy-id-uruguay-auto-registro"
                    >Creaci&oacute;n de Usuario gub.uy</a
                  >
                </li>
                <li>
                  <a href="https://www.gub.uy/tramites/subsidio-desempleo"
                    >Subsidio por desempleo</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.gub.uy/tramites/autorizacion-ingreso-uruguay"
                    >Autorizaci&oacute;n de ingreso a Uruguay</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.gub.uy/unidad-acceso-informacion-publica/como-solicitar-informacion-publica"
                    >Solicitud de acceso</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.gub.uy/agesic/soluciones/domicilio-digital"
                    >E-Notificaciones</a
                  >
                </li>
                <li>
                  <a href="https://www.gub.uy/atencion-ciudadania"
                    >Atenci&oacute;n ciudadana</a
                  >
                </li>
              </ul>
            </div>
            <div class="Grid-item">
              <div class="u-textLeft u-mt4">
                <div class="u-h3 u-my4">Perfil gub.uy</div>
                <a
                  href="https://www.gub.uy/perfil"
                  class="u-mb1 Button Button--inverse Button--primary"
                  >Ingresá</a
                >
                <div class="Servicios-footer">
                  <small>¿Cómo podés empezar?</small
                  ><a href="https://mi.iduruguay.gub.uy/registro">Registrate</a>
                </div>
              </div>
            </div>
          </div>
          <div class="ParentNav-more">
            <a href="https://www.gub.uy/tramites/"
              >Ver todos los trámites y servicios</a
            >
          </div>
        </div>
      </div>
      <div class="ParentNav-item has-submenu" tabindex="0">
        <span>Temas</span>
        <div class="ParentNav-subNav Nav-subNav--temas">
          <div class="Grid u-mb3">
            <div class="Grid-item u-md-size1of2">
              <ul class="u-md-mt2 u-bullet">
                <li>
                  <a
                    href="https://www.gub.uy/ingresa-uruguay-durante-emergencia-sanitaria"
                    >Ingreso a Uruguay</a
                  >
                </li>
                <li>
                  <a href="https://www.gub.uy/llamados-concursos-publicos"
                    >Llamados y concursos</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.gub.uy/ministerio-educacion-cultura/cultura"
                    >Cultura</a
                  >
                </li>
                <li><a href="https://www.gub.uy/ambiente">Ambiente</a></li>
                <li>
                  <a href="https://www.gub.uy/discapacidad">Discapacidad</a>
                </li>
                <li>
                  <a href="https://www.gub.uy/transporte">Transporte</a>
                </li>
                <li><a href="https://www.gub.uy/empresas">Empresas</a></li>
                <li><a href="https://www.gub.uy/turismo">Turismo</a></li>
              </ul>
            </div>
            <div class="Grid-item u-md-size1of2">
              <ul class="u-md-mt2 u-bullet">
                <li>
                  <a href="https://www.gub.uy/identidad-registros"
                    >Identidad y registros</a
                  >
                </li>
                <li>
                  <a href="https://www.gub.uy/migracion">Migraci&oacute;n</a>
                </li>
                <li><a href="https://www.gub.uy/genero">G&eacute;nero</a></li>
                <li>
                  <a href="https://www.gub.uy/educacion">Educaci&oacute;n</a>
                </li>
                <li>
                  <a
                    href="https://www.gub.uy/proteccion-y-bienestar-social-primera-infancia"
                    >Primera infancia</a
                  >
                </li>
                <li><a href="https://www.gub.uy/infancia">Infancia</a></li>
                <li>
                  <a href="https://www.gub.uy/adolescencia">Adolescencia</a>
                </li>
                <li>
                  <a href="https://www.gub.uy/personas-mayores"
                    >Personas mayores</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="Grid">
            <div class="Grid-item u-md-size1of2">
              <div class="u-h4 u-mb2">Destacados</div>
              <ul class="Nav-flagList">
                <li>
                  <a href="https://www.gub.uy/vivienda" class="Flag"
                    ><span class="Flag-body">Vivienda</span></a
                  >
                </li>
                <li>
                  <a href="https://www.gub.uy/salud" class="Flag"
                    ><span class="Flag-body">Salud</span></a
                  >
                </li>
                <li>
                  <a href="https://www.gub.uy/trabajo" class="Flag"
                    ><span class="Flag-body">Trabajo</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="ParentNav-more">
            <a href="https://www.gub.uy/temas">Ver todos los Temas</a>
          </div>
        </div>
      </div>
      <div class="ParentNav-item has-submenu" tabindex="0">
        <span>Datos y Estad&iacute;sticas</span>
        <div class="ParentNav-subNav">
          <ul class="u-bullet">
            <li>
              <a href="https://www.gub.uy/datos-estadisticas">Datos Abiertos</a>
            </li>
            <li>
              <a href="https://www.gub.uy/observatorios">Observatorios</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="ParentNav-item has-submenu" tabindex="0">
        <span>Participaci&oacute;n</span>
        <div class="ParentNav-subNav">
          <ul class="u-bullet">
            <li>
              <a href="https://www.gub.uy/gobierno-abierto">Gobierno Abierto</a>
            </li>
            <li>
              <a href="https://www.gub.uy/participacion-ciudadana"
                >Participaci&oacute;n Ciudadana</a
              >
            </li>
          </ul>
        </div>
      </div>
      <a class="ParentNav-item" href="https://www.gub.uy/presidencia">Prensa</a>
    </div>
  </div>
  <div class="ParentNav-aside"></div>
</div>
